div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0px;
  }


.float{
  position:fixed;
  width:300px;
  height:400px;
  top:100px;
  left:40px;
  background-color:rgb(187, 198, 195);
  color:#FFF;
  border-radius:5px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  #forDesktop {
    display: none;
  }
}
